extends layout

block content
  h1= title
  p Welcome to #{title}
  p Your IP Address: #{ip} 
  a(href='/blog') blog

  table
    tr
      th icon
      th psid
      th level 

    each row in sql_response 
      tr
        td
          img(src='#{row.icon_url}' height='100px')
        td
          p #{row.psid}
        td
          span &#x26a0;&#xfe0f; &times #{row.rating}

